@media screen and (max-width: 1200px){
  body{
    padding: 0;
  }
  .nav-bar{
    display: none;
  }
  .header-body{
    @include flexCenter();
    flex-direction: column;
    margin-top: 84px;
  }
  .ctn-services{
    display: grid;
    grid-template: 1fr 1fr 1fr /1fr 1fr;
  }
  .leading-hc-providers{
    @include flexCenter();
    flex-direction: column;
  }
  .download-apps{
    @include flexCenter();
    flex-direction: column;
  }
  .customer-info{
    @include flexCenter();
    flex-direction: column;
  }
  .article-list{
    display: grid;
    grid-template: 1fr/1fr;
  }
}
